@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background-color: #0A192F;
    scroll-behavior: smooth;
    width: 100%;
}

.main {
    @apply sm:px-4 relative;
    scroll-behavior: smooth;
    transition: .2s linear;
    width: 100%;
}

.nav-container {
    @apply flex justify-between items-center bg-background border-gray-200 h-20 p-2 px-2 sm:px-4 lg:px-4  font-Inter fixed w-full top-0 left-0;
    transition: .2s linear;
    z-index: 3;
}
.logo {
    @apply hover:cursor-pointer text-secondary flex items-center gap-5;
}

.hide-nav {
    top: -54px;
}
.menu-container {
    @apply hidden sm:relative sm:flex sm:h-10 sm:bg-transparent sm:justify-between sm:items-center;
    width: 600px;
    transition: height .2s linear
}

.menu {
    @apply flex justify-center text-right hover:cursor-pointer sm:text-center hover:text-secondary text-sm;
    width: 120px;
}

.number {
    @apply font-mono;
    color: #53D3B9;
    margin-right: 8px;
}

.resume-download {
    @apply flex relative justify-center items-center text-secondary border border-secondary rounded hover:cursor-pointer hover:font-semibold text-sm;
    background-color: #0A192F;
    width: 100px;
    height: 35px;
    transition: .2s linear;
}

.resume-download:hover {
    transform: translate(-3px, -3px);
}



.tag {
    @apply flex justify-start flex-col mx-3 items-start font-Inter sm:mx-20 gap-6 text-primary pt-20 lg:justify-start lg:mx-32 xl:ml-80 xl:pt-44 bg-transparent;
    min-height: calc(100vh - 80px);
    transition: .1s linear;
}

.tag > .tech-stack {
    @apply mr-4 p-5 overflow-hidden relative flex flex-col mt-20 text-third-100 rounded-md  sm:w-full lg:w-full xl:w-8/12 ;
    margin-right: auto;
    border: #53D3B9 1px solid;
   
}
.tech-stack > p {
    text-align: left;
    font-size: 1.3em;
    border-bottom: 1px solid #8892B0;
}
.tech-stack > ul {
    font-size: .9em;
    @apply list-image-[url(/buttons/chevron.svg)] columns-2 sm:columns-2 p-3 lg:columns-3;
}


.photo > img {
    @apply relative bottom-3 right-3 w-full;
}
.about {
    @apply container flex flex-col gap-2;
}
.name-about {
    @apply font-bold text-sm font-Roboto;
    color: #CCD6F6;

}
.about p:first-child {
    @apply text-lg sm:text-xl bg-transparent;
    color: #53D3B9;
}
.about > .name-about {
    @apply text-4xl py-3 sm:text-5xl lg:text-6xl bg-transparent;

}
.about p:nth-child(3){
    @apply text-third-100 text-3xl sm:text-4xl lg:text-5xl bg-transparent;
}
.about p:last-child {
    @apply text-third-200 py-2 bg-transparent;
    max-width: 60%;
}

.about-page {
    @apply pt-10 sm:pt-12 sm:px-10 sm:mx-4 lg:pt-10 lg:px-14 xl:pt-20 xl:px-36 flex items-start justify-evenly gap-8;
    min-height: calc(100vh);
}


.about-description {
    @apply container pt-10  sm:ml-6 xl:mx-32 bg-transparent;
}


.whole-description {
    @apply flex flex-col gap-10 lg:flex-row bg-transparent;
}
.text-description {
    @apply flex flex-col gap-5 bg-transparent;
}

.about-description > div {
    @apply text-third-100 text-justify text-lg py-2 bg-transparent;
}


.about-description > p:first-child {
    @apply text-primary text-2xl py-4 bg-transparent;
}

.line {
    height: 1px;
    width: 60%;
    display: inline-block;
    border: 1px solid #44454b;
    margin-left: 10px;
    transform: translate(0px, -5px)
}

.languages {
    @apply text-third-200 flex flex-wrap justify-center mt-5 gap-1 p-2 rounded-lg;

}
.languages p {
    @apply flex flex-col gap-3 items-center text-sm justify-start relative;
    width: 60px;
    transition: .2s linear;
}
.languages > p > img {
    width: 40px;
    height: 100%;
    margin: 10px;
    transition: .2s linear;
}
.languages > p > img:hover {
    transform: translate(0px, -5px)
}
.hide {
    @apply text-secondary;
    display: none;
    position: absolute;
    top: 50px;
}

.not-hide {
    display: block;
}

.languages > p:hover {
    cursor: pointer;
}



.backshadow {
    @apply bg-secondary rounded relative;
    height: 35px;
}

.photo-container {
    @apply relative;
    height: 300px;
    min-width: 250px;
}

.photo-square {
    @apply w-full h-full bg-secondary absolute;
    border: 1px solid #53D3B9;
    top: -5px;
    left: -5px;
    transition: .2s linear;
}
.photo-square:hover{
    transform: translate(-5px, -5px);
}
.backframe {
    @apply w-full h-full;
    border: 1px solid #53D3B9;
    top: 5px;
    left: 5px;
    z-index: -1;
}

.move-photo {
    transform: translate(-5px, -5px);
}
.move-frame {
    transform: translate(5px, 5px);
}

.footer {
    height: 400px;
    background-color: #53D3B9;
    width: 100%;
}

.projects {
    @apply pt-24 px-2 sm:px-24 lg:px-24 xl:px-72;
    height: 100vh;
}

.dark-mode {
    background-color: #0A192F;
    @apply text-primary;
}

.light-mode {
    color: #434952 !important;
    background-color: azure;
    transition: .2s linear;
}
.transparent-bg {
    background-color: transparent;
}
.light-mode2 {
    color:#CCD6F6;
    transition: .2s linear;
}

.color-mode {
    transition: .2s linear;
}

.color-mode:hover {
    transform: translate(0px, -5px);
}

.icons {
    @apply  hidden fixed left-8 sm:flex flex-col gap-6;
    bottom: 0px;
    height: 450px;
    width: 30px;
}
.icons img {
    width: 25px;
    margin: auto;
    transition: .2s;
}

.icons img:hover {
    cursor: pointer;
    transform: translate(0px, -4px);
    fill: #53D3B9;
}

.icons > a {
    @apply hover:cursor-pointer;
}

.icons::after {
    font-size: .1em;
    content: "";
    border: 1px solid #8892B0;
    width: 1px;
    height: 100%;
    transform: translate(15px, 0px);
}

.gmail {
    @apply hidden sm:flex fixed gap-3 mr-5;
    right: 0px;
    bottom: 0px;
    height: 600px;
    color: #CCD6F6;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    width: 30px;
    letter-spacing: 3px;
}
.gmail::after {
    content: '';
    border: 1px solid #8892B0;
    width: 1px;
    height: 100%;
    transform: translate(10px, 0px);
}

@media only screen and (max-width : 640px){
    .small-nav {
        @apply absolute top-14 bg-menu text-gray-100 px-5 py-2 gap-4;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: calc(100% + 16px);
        left: -8px;
    }

    .about-page {
        @apply px-3 py-8;
    }

    .photo {
        display: none;
    }
    .photo-square, .backshadow-image {
        display: block;
    }
    .about-description {
        max-width: none;
    }
    .tag > .tech-stack {
        @apply w-full m-0 mt-10 text-lg;
        width: 100%;
        margin-left: 0;
    }
    .tech-stack > p {
        font-size: 100%;
    }
}